html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.react-flow__node-default{
  padding: 5px;
  font-size: .3rem;;
}
.react-flow__handle {
  width: 0px;
  height: 0px;
  min-height: 0px; 
  border: 0;
}

.label {
  padding: 10px;
  font-size: 12px;
}

.label {
  flex-grow: 1;
}

.handles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 10px;
  height: 100%;
  position: absolute;
}

.handles.targets:empty ~ .label {
    font-size: 10px;
    font-weight:500;
  }

.handles.targets:not(:empty) ~ .label {
  font-size: 8px;
  font-weight: 400;
}

.react-flow__edges{
  z-index: 100;
}